body {
    background-color: #2c3e50;
    color: #ecf0f1;
    margin-left: 3%;
    font-size: 16px;
    line-height: 1.6;
}

.grid {
  display: grid;
  grid:
    'sidebar title' 152px
    'sidebar main' 100%
    /130px 1fr;
}

#main {
    grid-area: main;
    padding: 30px;
}

h1, h2, h3 {
    color: #3498db;
}

#title {
    font-size: 64px;
    font-weight: bold;
    margin-left: 30%;
    grid-area: title;
}

a {
    color: #f39c12;
    cursor: pointer;
}

a:focus {
    outline: 3px solid #f39c12;
    outline-offset: 2px;
}

dd {
    padding-bottom: 30px;
}

dt {
    font-size: large;
    font-weight: bold;
}

strong {
    font-size: large;
}

#annot p {
    text-indent: 40px;
    margin-left: 3%;
    font-style: italic;
}

#annot {
    border-left: 2px solid #f39c12;
    padding: 5px;
}


img {
    cursor: pointer;
    height: 300px;
}

dt a {
    color: #f39c12;
    text-decoration: none;
}

dt a:focus {
    outline: none;
    text-decoration: underline;
}

#qgrid {
    display: grid;
    grid:
        'latin eng' 100%
        /50% 50%;
}

#latin {
    grid-area: latin;
    padding-left: 50px;
}

#eng {
    grid-area: eng;
    padding-left: 50px;
}

#top {
  position: absolute;
  top: 0;
  height: 0;
  width: 0;
  background-color: transparent;
}

.ans {
    display: false
}