body {
    background-color: rgb(14, 122, 155);
    color: rgb(225, 255, 0);
    margin-left: 3%;
}

h1, h2, h3 {
    color: lightyellow;
    margin-left: 2%;
}

#title {
    font-size: 64px;
    font-weight: bold;
    margin-left: 30%;
}

a {
    color: lemonchiffon;
}

dd {
    padding-bottom: 30px;
}

dt {
    font-size: large;
    font-weight: bold;
}

strong {
    font-size: large;
}

#annot p {
    text-indent: 40px;
    margin-left: 3%;
}