body {
    margin: 0;
  }
  
  #sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 130px;
    background-color: #34495e;
    position: fixed;
    top: 0;
    height: 100%;
    overflow: auto;
  }
  
  #sidebar li a {
    display: block;
    color: #ecf0f1;
    padding: 8px 16px;
    text-decoration: none;
    border-left: 2px solid transparent;
  }
  
  #sidebar li a:focus {
    outline: 3px solid #f39c12;
    outline-offset: -3px;
    border-left: 2px solid #f39c12;
  }
  
  #sidebar li a.active {
    background-color: #2980b9;
    color: #ffffff;
    border-left: 2px solid #f39c12;
  }
  
  #sidebar li a:hover:not(.active) {
    background-color: #2c3e50;
    color: #ecf0f1;
    border-left: 2px solid #f39c12;
  }
